<h1><%= @flat.name %></h1>

<ul>
  <li><%= @flat.name %></li>
  <li><%= @flat.address %></li>
  <li><%= @flat.description %></li>
  <li><%= @flat.price_per_night %></li>
  <li><%= @flat.number_of_guests %></li>
</ul>

<ul>
  <li><%= link_to 'Edit this Flat', edit_flat_path(@flat) %></li>
  <li><%= link_to 'Back to Index', flats_path %></li>
</ul>
